<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[MHGHGD] [%p]%d{yyyy-MM-dd HH\:mm\:ss,SSS} %c \: %m\n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="INFO"/>
            <param name="levelMax" value="ERROR"/>
            <param name="AcceptOnMatch" value="true"/>
        </filter>
    </appender>

    <appender name="DEBUG" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/usr/local/tomcat7/log4j/mushroomGHGD/debug.log"/>
        <param name="Append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[MHGHGD] [%p]%d{yyyy-MM-dd HH\:mm\:ss,SSS} %c \: %m\n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="DEBUG"/>
            <param name="LevelMin" value="DEBUG"/>
            <param name="AcceptOnMatch" value="true"/>
        </filter>
    </appender>

    <appender name="INFO" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/usr/local/tomcat7/log4j/mushroomGHGD/info.log"/>
        <param name="Append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[MHGHGD] [%p]%d{yyyy-MM-dd HH\:mm\:ss,SSS} %c \: %m\n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="INFO"/>
            <param name="LevelMin" value="INFO"/>
            <param name="AcceptOnMatch" value="true"/>
        </filter>
    </appender>

    <appender name="WARN" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/usr/local/tomcat7/log4j/mushroomGHGD/warn.log"/>
        <param name="Append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[MHGHGD] [%p]%d{yyyy-MM-dd HH\:mm\:ss,SSS} %c \: %m\n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="WARN"/>
            <param name="LevelMin" value="WARN"/>
            <param name="AcceptOnMatch" value="true"/>
        </filter>
    </appender>

    <appender name="ERROR" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/usr/local/tomcat7/log4j/mushroomGHGD/error.log"/>
        <param name="Append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[MHGHGD] [%p]%d{yyyy-MM-dd HH\:mm\:ss,SSS} %c \: %m\n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="ERROR"/>
            <param name="LevelMin" value="ERROR"/>
            <param name="AcceptOnMatch" value="true"/>
        </filter>
    </appender>

    <root>
        <priority value="info"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DEBUG"/>
        <appender-ref ref="INFO"/>
        <appender-ref ref="WARN"/>
        <appender-ref ref="ERROR"/>
    </root>

</log4j:configuration>