<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyx.apps.map.dao.MapDao" >
    <!--获取用户对应的基地数据-->
    <resultMap id="userInfoMapList" type="com.hyx.apps.map.bean.Monitor">
        <result column="mushroom_pointid" property="mushroomPointid"/>
        <result column="mushroom_name" property="mushroomName"/>
        <result column="user_id" property="userId"/>
        <result column="mushroom_desc" property="mushroomDesc"/>
        <result column="mushroom_status" property="mushroomStatus"/>
        <result column="mushroom_long" property="mushroomLong"/>
        <result column="mushroom_lat" property="mushroomLat"/>
        <result column="del_flag" property="delFlag"/>
        <result column="mushroom_memo" property="memo"/>
        <result column="mushroom_ctime" property="ctime"/>
    </resultMap>

    <!--获取用户对应的基地数据-->
    <select id="getMapDataByUserId" resultMap="userInfoMapList">
        select
        mushroom_pointid as mushroomPointid,
        mushroom_name as mushroomName,
        user_id as userId,
        mushroom_desc ,
        case when mushroom_status = '0' then '非监控'
        when mushroom_status = '1' then '监控中'
        end as mushroom_status,
        mushroom_long ,
        mushroom_lat ,
        case when del_flag = '0' then '正在使用'
        when del_flag = '1' then '已经废除'
        end as del_flag,
        memo as mushroom_memo,
        ctime as mushroom_ctime
        from tb_mrgh_monitor
        where 1=1
        and user_id = #{userId,jdbcType=NVARCHAR}
    </select>
</mapper>