#id1 {
    /*background-color: #eeeeee;*/
    height: 420px;
    width: 1282px;
    float: left;
    padding: 0px;
    margin-top: 0px;
}

#id2 {
    background-color: #eeeeee;
    height: 100%;
    width: 640px;
    float: left;
    padding: 0px;
    margin-top: 0px;
}

#id3 {
    background-color: #eeeeee;
    height: 93%;
    width: 100%;
    float: left;
    padding: 0px;
    margin-top: 0px;
}

#video {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin-top: 0px;
}

#id4 {
    background-color: #eeeeee;
    height: 7%;
    width: 100%;
    float: left;
    padding: 0px;
    margin-top: 0px;
    text-align: center;

}

#id5 {
    background-color: #eeeeee;
    height: 100%;
    width: 640px;
    float: right;
    margin-left: 2px;
    margin-top: 0px;
    text-align: center;
}

#id6 {
    height: 90%;
    width: 100%;
    float: right;
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
}

#id7 {
    height: 10%;
    width: 100%;
    float: right;
    margin-left: 0px;
    margin-bottom: 0px;
    text-align: center;
}

#sendImg {
    float: none;
    display: none;
    margin-bottom: 0px;
}

#canvas {
    height: 100%;
    width: 100%;
    margin-top: 0px;
}

