<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../Styles/formui.css" />
    <link rel="stylesheet" type="text/css" href="../Styles/base.css"/>
    <link rel="stylesheet" type="text/css" href="../Styles/admin-all.css" />
    <script type="text/javascript" src="../Scripts/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="../Scripts/jquery-ui-1.8.22.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../Styles/ui-lightness/jquery-ui-1.8.22.custom.css" />
</head>
<body>
    <div class="alert alert-info">当前位置<b class="tip"></b>信贷员管理<b class="tip"></b>添加信贷员</div>

    <table class="tbform list">
        <thead>
            <tr class="tr">
                <th colspan="6">外部付款 <i class="tip-up"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>员工号 </td>
                <td>姓名 </td>
                <td>性别 </td>
                <td>年龄 </td>
                <td>出生日期 </td>
                <td>&nbsp;机构 </td>
            </tr>
            <tr class="demo">
                <td>
                    <input type="text"  class="ipt" /></td>
                <td>
                    <input type="text"  class="ipt" /></td>
                <td>
                    <input type="text"  class="ipt" /></td>
                <td>
                    <input type="text"  class="ipt" /></td>
                <td>
                    <input type="text"  class="ipt" /></td>
                <td>
                    <a class="btn btn-mini btn-danger">删除</a></td>
            </tr>
              <tr>
                <td colspan="6"><a class="btn btn-mini btn-primary">添加</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
