@charset "utf-8";
body{min-width: 1200px;border-top: 5px solid #2678cf;font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei UI","Microsoft YaHei",SimHei,"宋体",simsun,sans-serif;}
.wrap{width: 1200px;margin: auto;}
.fl{float: left;}
.fr{float: right;}



.con2 h2{background-color: #ececec;color: #3879be;font-size: 20px;font-weight: normal;line-height: 40px;padding-left: 15px;margin-bottom: 20px;}

.con2-top ul{margin-bottom: 20px;}
.con2-top li{float: left;width: 30%;padding: 0 8px;}
.con2-top li.cen{margin: 0 30px;}
.con2-top li img{width:100%;height: 80%; }
.con2-top li p{font-family: “Arial”,”Microsoft YaHei”,”黑体”,”宋体”,sans-serif;font-size: 40px;line-height: 2;text-align: center;}

.con2-top #zr_0{width: 488px;height: 288px}


.con2-bottom  li{float: left;width:16%;padding: 0 8px;}
.con2-bottom  li.cen{margin: 0 30px;}
.con2-bottom  li img{width:16%;height: 167px; }
.con2-bottom li a{font-family: “Arial”,”Microsoft YaHei”,”黑体”,”宋体”,sans-serif;font-size: 20px;line-height: 2;text-align: center;}







